*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
  margin-top: 0%;
}

header{
    background-color: #8CDDB6;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    padding-top: 12px;
}

ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width:95%;
}
#subtitulo{
    margin: 0%;
    border:0px
}
header nav ul button{
    border: 100%
}
h2{
    margin:2%
}

p{
    margin-top: 1%;
    padding: 2%;
}
div img {
    width: 80%;
 justify-content: center;
 padding-left: 20%;
}

#icon{
    width: 50px;
}

#iconytxt{
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-left: 20%;
}

#button{
    border-radius: 12%;
    size: 150%;
    width: max-content;
}

ul{
    margin: 1%;
}
